# 0. Índice <a name="Contents"></a>
1. [Importando bibliotecas](#import)
2. [Construindo um dataframe](#read)
3. [Identificando dados ausentes/missing](#identificando)
4. [Tratando dados ausentes/missing](#tratando)
5. [Dados duplicados](#duplicados)
6. [Mapeamento](#map)

# 1. Importando bibliotecas <a name="import"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [1]:
import pandas as pd
import numpy as np

# 2. Construindo um dataframe <a name="read"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [2]:
df = pd.DataFrame(
    np.random.randn(9, 4)*100,
    index=["A", "B", "C", "D", "E", "F", "G", "H", "I"],
    columns=["coluna1", "coluna2", "coluna3","coluna4"],
)
df

      coluna1     coluna2     coluna3     coluna4
A -118.551082  -18.383722  186.381203  -61.232641
B -129.152618  -69.742920   45.581642   21.188931
C  -33.829528   58.063794  -86.117953  -63.592763
D  -93.393465   12.022918   -6.750851   56.692808
E  178.950535   70.482564 -116.930685   55.241271
F  -77.869862   38.574749  -19.659363   18.777421
G   46.149298   20.242477   20.231695   19.320405
H   76.526270   25.822190   95.488078  133.073151
I  -34.191503  262.311415 -116.433455  -65.777627

In [3]:
df.dtypes

coluna1    float64
coluna2    float64
coluna3    float64
coluna4    float64
dtype: object

## Alterando os tipos de dados

In [4]:
df['coluna1'] = df['coluna1'].astype(int)

In [5]:
df.dtypes

coluna1      int32
coluna2    float64
coluna3    float64
coluna4    float64
dtype: object

In [6]:
df['coluna3'] = df['coluna3'].astype(str)

In [7]:
df.dtypes

coluna1      int32
coluna2    float64
coluna3     object
coluna4    float64
dtype: object

In [8]:
df

   coluna1     coluna2              coluna3     coluna4
A     -118  -18.383722   186.38120308955507  -61.232641
B     -129  -69.742920   45.581642141865295   21.188931
C      -33   58.063794   -86.11795280042087  -63.592763
D      -93   12.022918   -6.750850674351716   56.692808
E      178   70.482564  -116.93068508885536   55.241271
F      -77   38.574749   -19.65936251945788   18.777421
G       46   20.242477    20.23169529823339   19.320405
H       76   25.822190    95.48807781988319  133.073151
I      -34  262.311415  -116.43345488943145  -65.777627

## Acrescentando dados faltantes na tabela

In [9]:
df.iloc[4,2]

'-116.93068508885536'

In [10]:
df.iloc[4,2] = np.nan

In [11]:
df

   coluna1     coluna2              coluna3     coluna4
A     -118  -18.383722   186.38120308955507  -61.232641
B     -129  -69.742920   45.581642141865295   21.188931
C      -33   58.063794   -86.11795280042087  -63.592763
D      -93   12.022918   -6.750850674351716   56.692808
E      178   70.482564                  NaN   55.241271
F      -77   38.574749   -19.65936251945788   18.777421
G       46   20.242477    20.23169529823339   19.320405
H       76   25.822190    95.48807781988319  133.073151
I      -34  262.311415  -116.43345488943145  -65.777627

In [12]:
df.iloc[1,0] = np.nan
df.iloc[4,0] = np.nan
df.iloc[3,0] = np.nan
df.iloc[8,0] = np.nan
df.iloc[6,0] = np.nan
df.iloc[4,3] = np.nan
df.iloc[4,3] = np.nan
df.iloc[8,3] = np.nan

In [13]:
df

   coluna1     coluna2              coluna3     coluna4
A   -118.0  -18.383722   186.38120308955507  -61.232641
B      NaN  -69.742920   45.581642141865295   21.188931
C    -33.0   58.063794   -86.11795280042087  -63.592763
D      NaN   12.022918   -6.750850674351716   56.692808
E      NaN   70.482564                  NaN         NaN
F    -77.0   38.574749   -19.65936251945788   18.777421
G      NaN   20.242477    20.23169529823339   19.320405
H     76.0   25.822190    95.48807781988319  133.073151
I      NaN  262.311415  -116.43345488943145         NaN

In [14]:
# Os tipos de dados podem mudar após acrescentar um dado faltante
df.dtypes

coluna1    float64
coluna2    float64
coluna3     object
coluna4    float64
dtype: object

# 3. Identificando dados ausentes <a name="identificando"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [15]:
df.isna()

   coluna1  coluna2  coluna3  coluna4
A    False    False    False    False
B     True    False    False    False
C    False    False    False    False
D     True    False    False    False
E     True    False     True     True
F    False    False    False    False
G     True    False    False    False
H    False    False    False    False
I     True    False    False     True

In [17]:
# Alias do isna
df.isnull()

   coluna1  coluna2  coluna3  coluna4
A    False    False    False    False
B     True    False    False    False
C    False    False    False    False
D     True    False    False    False
E     True    False     True     True
F    False    False    False    False
G     True    False    False    False
H    False    False    False    False
I     True    False    False     True

In [87]:
df['coluna1'].isna()

A    False
B     True
C    False
D     True
E     True
F    False
G     True
H    False
I     True
Name: coluna1, dtype: bool

In [88]:
df[df['coluna1'].isna()]

   coluna1     coluna2              coluna3     coluna4
B      NaN   98.455629   -56.63918289481432  137.164956
D      NaN  -21.026139  -27.933020884056358   87.437026
E      NaN  192.406008                  NaN         NaN
G      NaN  -96.661886    8.047981030796791  148.596987
I      NaN -131.551463   131.37483723481265         NaN

In [89]:
df[~df['coluna1'].isna()]

   coluna1    coluna2              coluna3     coluna4
A    -23.0 -29.152840  -104.97703793385477  185.956438
C      0.0 -23.929166   200.88491360300534    1.188890
F   -132.0  27.891742  -146.61819382562678   69.352880
H     94.0 -63.401987  -26.482816708266604  -80.205045

In [91]:
df['coluna1']

A    -23.0
B      NaN
C      0.0
D      NaN
E      NaN
F   -132.0
G      NaN
H     94.0
I      NaN
Name: coluna1, dtype: float64

In [92]:
df['coluna1'].isna()

A    False
B     True
C    False
D     True
E     True
F    False
G     True
H    False
I     True
Name: coluna1, dtype: bool

In [90]:
df['coluna1'].isna().sum()

5

In [143]:
df.isna().sum()

coluna1    5
coluna2    0
coluna3    1
coluna4    2
dtype: int64

In [97]:
df['coluna2']

A    -29.152840
B     98.455629
C    -23.929166
D    -21.026139
E    192.406008
F     27.891742
G    -96.661886
H    -63.401987
I   -131.551463
Name: coluna2, dtype: float64

In [96]:
df['coluna2'].isna().sum()

0

In [158]:
percentage = (df.isnull().sum() / len(df)) * 100
percentage

coluna1    55.555556
coluna2     0.000000
coluna3    11.111111
coluna4    22.222222
dtype: float64

# 4. Tratando dados ausentes <a name="tratando"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [100]:
df['coluna1']

A    -23.0
B      NaN
C      0.0
D      NaN
E      NaN
F   -132.0
G      NaN
H     94.0
I      NaN
Name: coluna1, dtype: float64

## Substituindo por 0

In [105]:
df['coluna1'].fillna(0)

A    -23.0
B      0.0
C      0.0
D      0.0
E      0.0
F   -132.0
G      0.0
H     94.0
I      0.0
Name: coluna1, dtype: float64

## Substituindo pela média

In [ ]:
df['coluna1']

In [111]:
(-23.0-132.0+94.0+0)/4

-15.25

In [112]:
df['coluna1'].mean()

-15.25

In [121]:
med_col1 = df['coluna1'].mean()

In [122]:
df['coluna1'].fillna(med_col1)

A    -23.00
B    -15.25
C      0.00
D    -15.25
E    -15.25
F   -132.00
G    -15.25
H     94.00
I    -15.25
Name: coluna1, dtype: float64

## Substituindo pela mediana

In [19]:
df['coluna1']

A   -118.0
B      NaN
C    -33.0
D      NaN
E      NaN
F    -77.0
G      NaN
H     76.0
I      NaN
Name: coluna1, dtype: float64

In [20]:
df['coluna1'].sort_values()

A   -118.0
F    -77.0
C    -33.0
H     76.0
B      NaN
D      NaN
E      NaN
G      NaN
I      NaN
Name: coluna1, dtype: float64

In [23]:
(-77-33)/2

-55.0

In [21]:
df['coluna1'].median()

-55.0

In [24]:
mediana_col1 = df['coluna1'].median()

In [25]:
df['coluna1'].fillna(mediana_col1)

A   -118.0
B    -55.0
C    -33.0
D    -55.0
E    -55.0
F    -77.0
G    -55.0
H     76.0
I    -55.0
Name: coluna1, dtype: float64

In [123]:
df['coluna1'].fillna(method='ffill')

A    -23.0
B    -23.0
C      0.0
D      0.0
E      0.0
F   -132.0
G   -132.0
H     94.0
I     94.0
Name: coluna1, dtype: float64

In [124]:
df['coluna1'].dropna()

A    -23.0
C      0.0
F   -132.0
H     94.0
Name: coluna1, dtype: float64

In [128]:
# dropar todas as linhas que tenha pelo menos 1 NA
df.dropna()

   coluna1    coluna2              coluna3     coluna4
A    -23.0 -29.152840  -104.97703793385477  185.956438
C      0.0 -23.929166   200.88491360300534    1.188890
F   -132.0  27.891742  -146.61819382562678   69.352880
H     94.0 -63.401987  -26.482816708266604  -80.205045

# 5. Dados duplicados <a name="duplicados"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [135]:
df_dup = df.append(df.loc['D':'H',:]).sort_index()
df_dup

   coluna1     coluna2              coluna3     coluna4
A    -23.0  -29.152840  -104.97703793385477  185.956438
B      NaN   98.455629   -56.63918289481432  137.164956
C      0.0  -23.929166   200.88491360300534    1.188890
D      NaN  -21.026139  -27.933020884056358   87.437026
D      NaN  -21.026139  -27.933020884056358   87.437026
E      NaN  192.406008                  NaN         NaN
E      NaN  192.406008                  NaN         NaN
F   -132.0   27.891742  -146.61819382562678   69.352880
F   -132.0   27.891742  -146.61819382562678   69.352880
G      NaN  -96.661886    8.047981030796791  148.596987
G      NaN  -96.661886    8.047981030796791  148.596987
H     94.0  -63.401987  -26.482816708266604  -80.205045
H     94.0  -63.401987  -26.482816708266604  -80.205045
I      NaN -131.551463   131.37483723481265         NaN

In [139]:
df_dup.drop_duplicates()

   coluna1     coluna2              coluna3     coluna4
A    -23.0  -29.152840  -104.97703793385477  185.956438
B      NaN   98.455629   -56.63918289481432  137.164956
C      0.0  -23.929166   200.88491360300534    1.188890
D      NaN  -21.026139  -27.933020884056358   87.437026
E      NaN  192.406008                  NaN         NaN
F   -132.0   27.891742  -146.61819382562678   69.352880
G      NaN  -96.661886    8.047981030796791  148.596987
H     94.0  -63.401987  -26.482816708266604  -80.205045
I      NaN -131.551463   131.37483723481265         NaN

In [138]:
df_dup.drop_duplicates(subset=['coluna1'])

   coluna1    coluna2              coluna3     coluna4
A    -23.0 -29.152840  -104.97703793385477  185.956438
B      NaN  98.455629   -56.63918289481432  137.164956
C      0.0 -23.929166   200.88491360300534    1.188890
F   -132.0  27.891742  -146.61819382562678   69.352880
H     94.0 -63.401987  -26.482816708266604  -80.205045

In [142]:
df_dup.duplicated()

A    False
B    False
C    False
D    False
D     True
E    False
E     True
F    False
F     True
G    False
G     True
H    False
H     True
I    False
dtype: bool

In [141]:
df_dup[df_dup.duplicated()]

   coluna1     coluna2              coluna3     coluna4
D      NaN  -21.026139  -27.933020884056358   87.437026
E      NaN  192.406008                  NaN         NaN
F   -132.0   27.891742  -146.61819382562678   69.352880
G      NaN  -96.661886    8.047981030796791  148.596987
H     94.0  -63.401987  -26.482816708266604  -80.205045

# 6. Mapeamentos <a name="map"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [145]:
# 1 feminino, 0 masculino
genero = pd.Series([1,0,1,1,1,1,0,0,0,1,1,0])
genero

0     1
1     0
2     1
3     1
4     1
5     1
6     0
7     0
8     0
9     1
10    1
11    0
dtype: int64

In [146]:
genero.map({1:'Feminino', 0:'Masculino'})

0      Feminino
1     Masculino
2      Feminino
3      Feminino
4      Feminino
5      Feminino
6     Masculino
7     Masculino
8     Masculino
9      Feminino
10     Feminino
11    Masculino
dtype: object

In [152]:
genero_2 = genero.map({1:'Feminino', 0:'Masculino'})

In [147]:
genero.map({1:'Feminino', 2:'Masculino'})

0     Feminino
1          NaN
2     Feminino
3     Feminino
4     Feminino
5     Feminino
6          NaN
7          NaN
8          NaN
9     Feminino
10    Feminino
11         NaN
dtype: object

In [153]:
genero_2.map('Genero: {}'.format)

0      Genero: Feminino
1     Genero: Masculino
2      Genero: Feminino
3      Genero: Feminino
4      Genero: Feminino
5      Genero: Feminino
6     Genero: Masculino
7     Genero: Masculino
8     Genero: Masculino
9      Genero: Feminino
10     Genero: Feminino
11    Genero: Masculino
dtype: object