# Módulo 07, Tarefa 01

Vamos começar a mexer na nossa base de projeto? Já fizemos um exercício de montar a variável resposta, já pudemos perceber que essa atividade pode não ser trivial. Vamos agora trabalhar a base para que fique propícia ao *scikitlearn* para trabalharmos.

Lembrando, a base se chama demo01.csv, e originalmente está publicada [aqui](https://www.kaggle.com/rikdifos/credit-card-approval-prediction).

#### 1) Carregue a base e avalie:

- As variáveis
- Tipos de dados de cada variável
- Quantidade de missings
- Distribuição da variável resposta (mau)

# 0. Índice do Exercício <a name="Contents"></a>
1. [Importando bibliotecas](#import)
2. [Carregando o dataframe](#read)
3. [Verificando Cabeçalho e Dados](#head)
4. [Informações do DataFrame](#info)
5. [Verificando tipo de Dados](#dtypes)
6. [Quantificando os Dados x Colunas](#shape)
7. [Dropando Dados duplicados](#drop)
8. [Recriando Index](#reset_index)
9. [Quantificando dados Ausentes](#isna_sum)
10. [Separando as variáveis explicativas da target](#separando)

# 1. Importando bibliotecas <a name="import"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [2]:
# Importando Bibliotecas
import numpy as np
import pandas as pd
import seaborn as sns

# 2. Carregando o dataframe <a name="read"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [5]:
#Carregando dataset / DataFrame defaut doinfo Seaborn

credit_card_approval_prediction = pd.read_csv('demo01.csv')

# 3. Verificando cabeçalho e dados <a name="head"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [13]:
#Retornar as primeiras 5 linhas
credit_card_approval_prediction.head()

,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,tipo_renda,educacao,estado_civil,tipo_residencia,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau
0,M,Y,Y,0,Working,Secondary / secondary special,Married,House / apartment,58.832877,3.106849,1,0,0,0,2.0,False
1,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
2,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
3,M,Y,Y,0,Working,Higher education,Married,House / apartment,46.224658,2.106849,1,1,1,1,2.0,False
4,F,Y,N,0,Working,Incomplete higher,Married,House / apartment,29.230137,3.021918,1,0,0,0,2.0,False

# 4. Informações do dataframe <a name="info"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [16]:
# As variáveis

# Retornar Informações das colunas
credit_card_approval_prediction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16650 entries, 0 to 16649
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   sexo                   16650 non-null  object
 1   posse_de_veiculo       16650 non-null  object
 2   posse_de_imovel        16650 non-null  object
 3   qtd_filhos             16650 non-null  int64
 4   tipo_renda             16650 non-null  object
 5   educacao               16650 non-null  object
 6   estado_civil           16650 non-null  object
 7   tipo_residencia        16650 non-null  object
 8   idade                  16650 non-null  float64
 9   tempo_emprego          16650 non-null  float64
 10  possui_celular         16650 non-null  int64
 11  possui_fone_comercial  16650 non-null  int64
 12  possui_fone            16650 non-null  int64
 13  possui_email           16650 non-null  int64
 14  qt_pessoas_residencia  16650 non-null  float64
 15  mau                    16650 non-null  bool
dtypes: bool(1), float64(3), int64(5), object(7)
memory usage: 1.9+ MB

# 5. Verificando Tipo de Dados <a name="dtypes"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [19]:
# Tipos de dados de cada variável

# Retornar Tipo de dados das colunas

credit_card_approval_prediction.dtypes

sexo                      object
posse_de_veiculo          object
posse_de_imovel           object
qtd_filhos                 int64
tipo_renda                object
educacao                  object
estado_civil              object
tipo_residencia           object
idade                    float64
tempo_emprego            float64
possui_celular             int64
possui_fone_comercial      int64
possui_fone                int64
possui_email               int64
qt_pessoas_residencia    float64
mau                         bool
dtype: object

# 6. Quantificando os Dados x Colunas <a name="shape"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [22]:
# Mostra a quantidade de linhas e colunas do dataframe
credit_card_approval_prediction.shape

(16650, 16)

# 7. Dropando Dados duplicados <a name="drop"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [25]:
# Drop as linhas Repetidas e Salva sobre a proprio dataframe
credit_card_approval_prediction = credit_card_approval_prediction.drop_duplicates()

In [27]:
# Mostra a quantidade de linhas e colunas do dataframe
credit_card_approval_prediction.shape

(6770, 16)

# 8. Recriando Index <a name="reset_index"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [30]:
# Recria o index e salva

credit_card_approval_prediction.reset_index(drop=True, inplace=True)

In [32]:
credit_card_approval_prediction.tail()

,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,tipo_renda,educacao,estado_civil,tipo_residencia,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau
6765,F,N,Y,1,Working,Secondary / secondary special,Single / not married,House / apartment,34.857534,3.101370,1,1,1,0,1.0,True
6766,F,N,Y,0,Working,Secondary / secondary special,Civil marriage,House / apartment,54.109589,9.884932,1,0,0,0,2.0,True
6767,F,N,Y,0,Commercial associate,Secondary / secondary special,Married,House / apartment,43.389041,7.380822,1,1,1,0,2.0,True
6768,M,Y,Y,0,Working,Secondary / secondary special,Married,House / apartment,30.005479,9.800000,1,1,0,0,2.0,True
6769,F,N,Y,0,Pensioner,Higher education,Married,House / apartment,33.936986,3.630137,1,0,1,1,2.0,True

# 9. Quantificando dados Ausentes <a name="isna_sum"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [35]:
# Quantidade de missings

credit_card_approval_prediction.isna().sum()

sexo                     0
posse_de_veiculo         0
posse_de_imovel          0
qtd_filhos               0
tipo_renda               0
educacao                 0
estado_civil             0
tipo_residencia          0
idade                    0
tempo_emprego            0
possui_celular           0
possui_fone_comercial    0
possui_fone              0
possui_email             0
qt_pessoas_residencia    0
mau                      0
dtype: int64

In [37]:
# Distribuição da variável resposta (mau)
credit_card_approval_prediction['mau'].value_counts()

mau
False    6472
True      298
Name: count, dtype: int64

#### 2) Vamos montar um metadados

1. Crie um dataframe com os nomes de cada variável e o tipo de dados de cada variável.
2. Adicione uma coluna nesse *dataframe* chamada "qtd_categorias" e coloque nela o número de categorias correspondente de cada variável.
    Dica:
        1. inicie uma lista vazia
        2. faça um for ao longo dos nomes das variáveis,
        3. conte o número de categorias dessa variável
        4. acumule essa informação de 3. na lista que você criou em 1.
        5. No final, essa lista pode ser atribuída à nossa variável.

#### 3) Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}. Crie um *dataframe* apenas com as variáveis apropriadas para entrada no scikitlearn - elimine as variáveis tipo *str*, mantendo apenas suas versões *dummy*.

#### 4) Qual variável é mais poderosa?

Considere as variáveis ```possui_email``` e ```posse_de_veiculo```. Faça uma tabela cruzada entre elas e responda qual delas te parece mais poderosa para prever a probabilidade de ```mau = 1```?

#### 5) Salve a base, pois ela será utilizada no final deste módulo.